# flutter app
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**dart_tool/
**flutter-plugins
**flutter-plugins-dependencies
**packages
**pub-cache/
**pub/
/airbnb_nyc_cost_calculator_mobile/build/

# Symbolication related
/airbnb_nyc_cost_calculator_mobile/app.*.symbols

# Obfuscation related
/airbnb_nyc_cost_calculator_mobile/app.*.map.json

# Android Studio will place build artifacts here
/airbnb_nyc_cost_calculator_mobile/android/app/debug
/airbnb_nyc_cost_calculator_mobile/android/app/profile
/airbnb_nyc_cost_calculator_mobile/android/app/release

# flask app
/airbnb_nyc_cost_calculator_flask_backend/env/